#admin-menu ol li,
#admin-menu ul li {
  font-size: 1em
}
#snippet_preview {
  padding: 0 0 20px;
  background-color: #fff;
  position: relative;
  border: 1px solid #e6e9ee
}
.snippet_container:after,
.snippet_container:before {
  content: ' ';
  display: table
}
.snippet_container:after {
  clear: both
}
.snippet-editor__preview {
  padding: 20px 20px 0;
  font-family: Arial, sans-serif
}
#snippet_cite {
  min-width: 20px
}
.snippet_container .title {
  color: #1e0fbe;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  max-width: 512px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  font-family: Arial, sans-serif
}
.snippet_container .desc,
.snippet_container .url {
  font-size: 13px;
  line-height: 1.4
}
.snippet_container .url {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #006621;
  font-style: normal
}
.snippet_container .urlBase {
  float: left
}
.snippet_container .desc-default {
  color: #333
}
.snippet_container .desc-render {
  color: #777
}
.snippet_container .tooLong {
  color: red !important
}
.wpseoanalysis {
  padding-right: 0;
  padding-left: .5em;
  margin-top: 1em
}
.wpseo-score-text {
  display: inline-block;
  width: 90%
}
.wpseo-score-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 8px 10px 0 3px;
  border-radius: 50%;
  background: #888;
  vertical-align: top
}
.wpseo-score-icon.good {
  background-color: #7ad03a
}
.wpseo-score-icon.ok {
  background-color: #ee7c1b
}
.wpseo-score-icon.bad {
  background-color: #dd3d36
}
.wpseo-score-icon.na {
  background-color: #999
}
.wpseo-score-icon.noindex {
  background-color: #1e8cbe
}
li.score {
  list-style-type: none !important
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden
}
.YoastSEO_msg .left,
.YoastSEO_msg .right {
  display: none
}
@keyframes animatedBackground {
  from {
    background-position: 0 0
  }
  to {
    background-position: 100% 0
  }
}
.js__seo-tool { margin-bottom: 2em; }
#snippet_preview,
#focusKeyword,
.seo-tool__error-key {
  max-width: 552px
}
.seo-tool__error-key {
  table-layout: auto
}
.seo-tool__error-key td,
.seo-tool__error-key th {
  vertical-align: middle;
  font-weight: bold;
  text-align: center
}
.seo-tool__error-key th {
  border-bottom: 1px solid #e6e9ee;
  padding-top: .4em;
  padding-bottom: .4em
}
.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 25px;
  background: #3e4545
}
.horizontal .progress-fill {
  position: relative;
  background: #7ad03a;
  height: 25px;
  width: 50%;
  color: #fff;
  text-align: center;
  line-height: 25px
}
.horizontal .progress-fill.bad {
  background: #dd3d36
}
.horizontal .progress-fill.ok {
  background: #ff823d
}
.horizontal .progress-fill.good {
  background: #7ad03a
}
/*# sourceMappingURL=admin.css.map */